root{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  background-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

Nav{
  background-color: rgb(43, 10, 233);
  box-shadow: black;
  content-visibility: 50px;
}

Nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

Nav li{
  height: 50px;
}

Nav a{
  height: 100%;
  padding: 0 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

Nav a:hover{
  background-color: rgba(236, 165, 165, 0.39);
}

Nav li:first-child{
  margin-right: auto;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: white;
  box-shadow: -10px 0 1px rgb(0 0 0 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}